.speciala {
  color: #FFFFFF;
}
.specialb {
  color: #0000FF;
}
.specialc {
  background-color: #FFFF00;
}
.speciald {
  background-color: #0C2D1C;
  color: #FFFF00;
}
.speciale {
  color: #A020F0;
}

#divone {
  background-color: #1663BE;
}

#pidone {
  color: #FF0000;
}
#pidtwo {
  background-color: #90EE90;
}

.spanstyle {
  color: #FFA500;
}
