.container {
  position: relative;
  margin: 0%;
}

.top-right {
  position: absolute;
  width: 220px;
  top: 30px;
  right: 350px;
  text-align: right;
  color: white;
  font-style: Helvetica;
  font-weight: lighter;
  letter-spacing: 1px;
}

.centered {
  position: absolute;
  top: 90px;
  left: 180px;
  font-size: 150px;
  font-weight: bolder;
  font-family: Impact;
  color: #197cd2;
  letter-spacing: -5px;
}

.spano {
  color: orange;
}

.bottom {
  color: #197cd2;
  font-family: Arial, Helvetica;
  font-weight: bold;
  text-align: center;
  width: 670px;
  font-size: 15px;
}

.spanSmall {
  font-size: 70%;
}

.spanPara {
  display: block;
}

a:link {
  color: #197cd2;
  font-weight: bold;
}
a:hover {
  color: orange;
}

.pgcenter {
  display: block;
  position: relative;
  left: 250px;
}
.linkspace {
  line-height: 3;
}
